
body {
    background-color: #0c5d9e;
}
.texto{ 
    text-align: center ;
}
.texto{
    color: aqua
}
.normal {
    font-style: oblique;
}
.links {
    display: inline-block;
}

.quadradointernotwo {
    background-color: rgb(129, 210, 248);
    width: 100%;
    height: 300px;
}
.cleiton {
    color: black
}
.cleiton {
    font-size: xx-large;
}
.pietro{
    color: blue;
}
.site{
    color: black;
}